@font-face {
    font-family: "gotham-bold";
    src: url(../fonts/gotham/GothamBold.ttf);
}

@font-face {
    font-family: "gotham-medium";
    src: url(../fonts/gotham/GothamMedium.ttf);
}

@font-face {
    font-family: "gotham-book";
    src: url(../fonts/gotham/GothamBook.ttf);
}

@font-face {
    font-family: "Rancho";
    src: url(../fonts/Rancho/Rancho-Regular.ttf);
}