.header {
    padding: 20px 0;

    .container {
        max-width: 1160px;

        .b-logo {
            @media(max-width: 767px) {
                max-width: 90px;
            }
        }

        .telephone {
            background: #239f7c;
            color: #fff;
            border-radius: 35px;
            padding: 5px 10px;

            &:hover {
                background: #c97414;
                transition: all 0.3s;
            }

            @media(max-width: 767px) {
                font-size: 12px;
            }
        }

        .s-btn {
            margin-left: 10px;

            @media(max-width: 767px) {
                margin-left: 5px;
            }

            &.social {
                margin: 0 5px;
                display: inline-block;
                border-radius: 50%;
                height: 36px;
                width: 36px;
                justify-content: center;

                @media(max-width: 767px) {
                    margin: 0 1px;
                }
            }

            &:hover {
                background: #c97414;

                &.social {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.offcanvas {


    .nav-menu {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        width: 100%;
        border-radius: 25px;
        padding: 10px 0;
        transition: all 0.3s;
    }


    .navig {
        padding: 0;


        .navig-anchor {
            font-family: "gotham-bold";
            font-size: 17px;
            margin: 10px;
            padding: 5px 15px;
            color: #ffffff;
            display: block;
            border-radius: 10px;

            &:hover {
                background: #c97414;
                color: #fff;
            }

            @media(max-width: 991px) {
                padding: 2px 10px;
            }
        }
    }
}