.banner {
    padding-top: 200px;
    background: url(../images/banner/banner-b.png) no-repeat bottom center/cover;
}

.menu-banner {
    background: url(../images/menu-page/menu-bg.png) bottom left/cover;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-bottom: -50px;
    position: relative;
    z-index: 3;

    .container {
        @media(min-width: 1400px) {
            max-width: 1160px;
        }

        .logo-bba {
            @media(max-width: 767px) {
                max-width: 200px;
            }
        }

        .main-heading {
            margin-top: 35px;
            font-family: "Rancho";
            font-size: 115px;
            color: #fff;

            @media(max-width: 767px) {
                font-size: 80px;
            }
        }

        .bread {
            font-family: "Rancho";
            font-size: 35px;
            color: #fff;


            @media(max-width: 767px) {
                font-size: 25px;
            }

            a {
                color: #fff;

                &:hover {
                    color: #d8910d;
                }
            }
        }
    }
}

.contact-banner {
    background: url(../images/contact-banner/con-banner-bg.png) bottom left/cover;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-bottom: -50px;
    position: relative;
    z-index: 3;

    .container {
        @media(min-width: 1400px) {
            max-width: 1160px;
        }

        .logo-bba {
            @media(max-width: 767px) {
                max-width: 200px;
            }
        }

        .main-heading {
            margin-top: 60px;
            font-family: "Rancho";
            font-size: 115px;
            color: #fff;

            @media(max-width: 767px) {
                font-size: 70px;
            }
        }

        .bread {
            font-family: "Rancho";
            font-size: 35px;
            color: #fff;

            @media(max-width: 767px) {
                font-size: 25px;
            }

            a {
                color: #fff;

                &:hover {
                    color: #d8910d;
                }
            }
        }
    }
}