.menues {
    padding-top: 200px;
    padding-bottom: 400px;

    @media(max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .container {
        @media(min-width: 992px) {
            max-width: 1620px;
        }

        .item-cardsa {
            display: flex;
            overflow: hidden;

            @media(min-width: 992px) {
                justify-content: space-between;

                .left,
                .right {
                    width: 45%;
                }
            }

            @media(max-width: 991px) {
                flex-direction: column;
            }


            .top {
                margin-bottom: 45px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background: #dd820b;
                }

                .heading {
                    font-family: "Rancho";
                    font-size: 90px;
                    line-height: 90px;
                    color: #4a3e3b;
                    padding-bottom: 24px;
                    position: relative;
                    z-index: 3;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 20px;
                        left: -15px;
                        height: 100px;
                        width: 100%;
                        background: url(../images/before.png) no-repeat;
                        z-index: -1;
                    }

                    @media(max-width: 767px) {
                        font-size: 70px;
                        padding-bottom: 35px;
                    }

                }

                p {
                    font-size: 24px;
                    line-height: 1.2;
                    font-family: "gotham-lihgt";

                    @media(min-width: 1200px) {
                        white-space: pre-line;
                    }

                    @media(max-width: 991px) {
                        font-size: 18px;
                    }
                }
            }

            .in-menu {
                .list-item {
                    padding-bottom: 20px;

                    .title1 {
                        font-family: "gotham-medium";
                        font-size: 20px;
                        color: #4a3e3b;


                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }

                    .comp {
                        color: #c8c3c3;
                        font-family: "gotham-light";
                        font-size: 16px;


                        @media(max-width: 991px) {
                            font-size: 12px;
                        }
                    }
                }
            }

            .bottom {
                .swiper {

                    .swiper-button-prev {
                        &::after {
                            color: #de702a;
                            font-size: 25px;
                            font-weight: bold;
                        }
                    }

                    .swiper-button-next {
                        &::after {
                            color: #de702a;
                            font-size: 25px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .menu-item {
                padding-bottom: 70px;
            }

            .menu-3,
            .menu-2 {
                .qntty {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    place-items: center;

                    p {
                        font-family: "gotham-medium";
                        font-size: 22px;
                        color: #4a3e3b;

                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }
                }
            }

            .menu-1,
            .menu-4 {
                .qntty {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    place-items: center;

                    p {
                        font-family: "gotham-medium";
                        font-size: 22px;
                        color: #4a3e3b;

                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}