.menu-cards {
    position: relative;
    z-index: 2;
    margin-bottom: -60px;
    padding: 150px 0 120px;
    background: url(../images/menu-card-bg.png) no-repeat bottom left/cover;

    @media(max-width: 767px) {
        padding: 100px 0 80px;
    }

    .container {
        max-width: 1220px;
    }

    .image {
        width: 100%;
        position: relative;
        z-index: 1;

        .img2 {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    .text {
        .heading {
            font-family: "Rancho";
            font-size: 90px;
            line-height: 90px;
            color: #4a3e3b;
            padding-bottom: 45px;
            position: relative;
            z-index: 3;

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                left: -20px;
                height: 100px;
                width: 100%;
                background: url(../images/before.png) no-repeat;
                z-index: -1;
            }

            @media(max-width: 991px) {
                font-size: 60px;
                line-height: 1.2;
                padding-bottom: 35px;
            }
        }

        .details {
            color: #7b7472;
            font-size: 24px;
            padding-bottom: 90px;

            @media(max-width: 991px) {
                font-size: 18px;
                padding-bottom: 25px;
            }
        }

        .more-btn {
            background: #24a07d;
            color: #fff;
            font-size: 27px;
            font-family: "gotham-bold";
            padding: 3px 15px;
            border-radius: 20px;
            display: inline-block;

            &:hover {
                transform: scale(1.02);
                background: #000;
            }

            @media(max-width: 991px) {
                font-size: 25px;
            }
        }
    }
}