.menues {
    padding-top: 120px;
    padding-bottom: 250px;

    @media(max-width: 767px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .container {
        @media(min-width: 992px) {
            max-width: 1140px;
        }

        .item-cardsa {

            @media(max-width: 991px) {
                overflow: hidden;
            }

            .top {
                margin-bottom: 45px;
                position: relative;
                padding-left: 30px;

                &::after {
                    content: '';
                    position: absolute;
                    left: 10px;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background: #dd820b;
                }

                .heading {
                    font-family: "Rancho";
                    font-size: 90px;
                    line-height: 90px;
                    color: #4a3e3b;
                    padding-bottom: 24px;
                    position: relative;
                    z-index: 3;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 20px;
                        left: -15px;
                        height: 100px;
                        width: 100%;
                        background: url(../images/before.png) no-repeat;
                        z-index: -1;
                    }

                    @media(max-width: 767px) {
                        font-size: 70px;
                        padding-bottom: 35px;
                    }

                }

                p {
                    font-size: 20px;
                    line-height: 1.2;
                    font-family: "gotham-lihgt";

                    @media(min-width: 1200px) {
                        white-space: pre-line;
                    }

                    @media(max-width: 991px) {
                        font-size: 18px;
                    }
                }
            }


            .nabigationSlider {
                .swiper-wrapper {
                    flex-direction: column;

                    .list-item {
                        padding-bottom: 20px;
                        cursor: pointer;

                        .title1 {
                            font-family: "gotham-medium";
                            font-size: 20px;
                            color: #4a3e3b;


                            @media(max-width: 991px) {
                                font-size: 16px;
                            }
                        }

                        .comp {
                            color: #c8c3c3;
                            font-family: "gotham-light";
                            font-size: 16px;


                            @media(max-width: 991px) {
                                font-size: 12px;
                            }
                        }
                    }

                    .swiper-slide-thumb-active {
                        position: relative;

                        .list-item {
                            .title1 {
                                font-weight: bold;
                            }

                            .qntty {
                                font-weight: bold;
                            }

                            .xxx {
                                position: relative;
                                padding-left: 10px;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 3px;
                                    height: 100%;
                                    background: #de702a;
                                    left: 0px;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }

            .in-menu {
                .list-item {
                    padding-bottom: 20px;

                    .title1 {
                        font-family: "gotham-medium";
                        font-size: 20px;
                        color: #4a3e3b;


                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }

                    .comp {
                        color: #c8c3c3;
                        font-family: "gotham-light";
                        font-size: 16px;


                        @media(max-width: 991px) {
                            font-size: 12px;
                        }
                    }
                }
            }

            .itemSliderWithNav {
                position: relative;
                padding: 60px;
                margin-bottom: -100px;
                z-index: 999;

                .swiper-button-prev {
                    background: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;

                    &::after {
                        color: #de702a;
                        font-size: 25px;
                        font-weight: bold;
                    }
                }

                .swiper-button-next {
                    background: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;

                    &::after {
                        color: #de702a;
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
            }


            .menu-item {
                margin-bottom: 150px;
                background: #f5f4f4;
                padding: 30px 20px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 222px;
                border-bottom-left-radius: 222px;
            }

            .menu-3,
            .menu-2 {
                .qntty {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    place-items: center;

                    p {
                        font-family: "gotham-medium";
                        font-size: 22px;
                        color: #4a3e3b;

                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }
                }
            }

            .menu-1,
            .menu-4 {
                .qntty {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    place-items: center;

                    p {
                        font-family: "gotham-medium";
                        font-size: 22px;
                        color: #4a3e3b;

                        @media(max-width: 991px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}