.special-menu {
    background: url(../images/special-menu/bg-special.png) no-repeat top left/cover;
    padding: 200px 0 400px;

    @media(max-width: 767px) {
        padding: 120px 0 100px;
    }

    .container {
        @media(min-width: 1300px) {
            max-width: 1220px;
        }
    }

    .text {
        .heading {
            font-family: "Rancho";
            font-size: 90px;
            line-height: 90px;
            color: #4a3e3b;
            padding-bottom: 40px;
            position: relative;
            z-index: 3;

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                left: -20px;
                height: 100px;
                width: 100%;
                background: url(../images/before.png) no-repeat;
                z-index: -1;
            }

            @media(max-width: 767px) {
                font-size: 70px;
                padding-bottom: 35px;
            }
        }

        .details {
            color: #7b7472;
            font-size: 24px;
            padding-bottom: 60px;

            @media(min-width: 1200px) {
                white-space: pre-line;
            }

            @media(max-width: 767px) {
                font-size: 20px;
                padding-bottom: 25px;
            }
        }

        .more-btn {
            background: #24a07d;
            color: #fff;
            font-size: 27px;
            font-family: "gotham-bold";
            padding: 6px 10px;
            border-radius: 20px;
        }
    }
}