.trendin-and-family {
    padding: 150px 0;
    background: url(../images/tren-family/b22.png) no-repeat top left/cover;

    @media(max-width: 767px) {
        padding: 120px 0 80px;
    }

    .text {
        .heading {
            font-family: "Rancho";
            font-size: 90px;
            line-height: 90px;
            color: #4a3e3b;
            padding-bottom: 45px;
            position: relative;
            z-index: 3;

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                left: -20px;
                height: 100px;
                width: 100%;
                background: url(../images/before.png) no-repeat;
                z-index: -1;
            }

            @media(max-width: 767px) {
                font-size: 70px;
                padding-bottom: 35px;
            }
        }

        .details {
            color: #7b7472;
            font-size: 24px;
            padding-bottom: 90px;

            @media(max-width: 767px) {
                font-size: 20px;
                padding-bottom: 25px;
            }
        }

        .more-btn {
            background: #24a07d;
            color: #fff;
            font-size: 27px;
            font-family: "gotham-bold";
            padding: 6px 10px;
            border-radius: 20px;
        }
    }

    .image {
        .image-one {
            position: absolute;
            width: 45%;
            top: 8%;
            right: 0;
        }

        .image-two {
            position: absolute;
            width: 35%;
            bottom: 8%;
            left: 0;
        }
    }
}