/*=== abstracts css start === */
@font-face {
  font-family: "gotham-bold";
  src: url(../fonts/gotham/GothamBold.ttf);
}
@font-face {
  font-family: "gotham-medium";
  src: url(../fonts/gotham/GothamMedium.ttf);
}
@font-face {
  font-family: "gotham-book";
  src: url(../fonts/gotham/GothamBook.ttf);
}
@font-face {
  font-family: "Rancho";
  src: url(../fonts/Rancho/Rancho-Regular.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "gotham-book";
  color: #000;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
/*===// end of base css === */
/*=== layouts css start === */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}
.header .container {
  max-width: 1120px;
}
@media (max-width: 767px) {
  .header .container .b-logo {
    max-width: 200px;
  }
}
.header .container .telephone {
  background: #239f7c;
  color: #fff;
  border-radius: 35px;
  padding: 5px;
}

/*===// end of layouts css === */
/*=== components css start === */
.banner {
  padding-top: 200px;
  background: url(../images/banner/banner-b.png) no-repeat bottom center/cover;
}

.mini-showcase {
  padding: 160px 0;
}
@media (max-width: 991px) {
  .mini-showcase {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .mini-showcase {
    padding: 50px 0;
  }
}
.mini-showcase .swiper {
  padding: 0 20px;
}
.mini-showcase .swiper .swiper-wrapper .swiper-slide {
  padding: 20px;
}
.mini-showcase .swiper .swiper-wrapper .swiper-slide .carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
}
@media (max-width: 767px) {
  .mini-showcase .swiper .swiper-wrapper .swiper-slide .carousel-card {
    height: 100px;
  }
}
.mini-showcase .swiper .swiper-wrapper .swiper-slide .carousel-card img {
  max-width: 100%;
}
.mini-showcase .swiper .swiper-wrapper .swiper-slide .carousel-card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7450980392);
}
.mini-showcase .swiper .swiper-button-prev::after {
  color: #de702a;
  font-size: 25px;
  font-weight: bold;
}
.mini-showcase .swiper .swiper-button-next::after {
  color: #de702a;
  font-size: 25px;
  font-weight: bold;
}

.trendin-and-family {
  padding: 150px 0;
  background: url(../images/tren-family/b22.png);
}
.trendin-and-family .text h2 {
  font-family: "Rancho";
  font-size: 90px;
  line-height: 90px;
  color: #4a3e3b;
  padding-bottom: 45px;
  position: relative;
  z-index: 3;
}
.trendin-and-family .text h2::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  height: 100px;
  width: 100%;
  background: url(../images/before.png) no-repeat;
  z-index: -1;
}
.trendin-and-family .text p {
  color: #7b7472;
  font-size: 24px;
  padding-bottom: 90px;
}
.trendin-and-family .text a {
  background: #24a07d;
  color: #fff;
  font-size: 27px;
  font-family: "gotham-bold";
  padding: 6px 10px;
  border-radius: 20px;
}

.item-description {
  padding: 150px 0;
  background: url(../images/item-details/b-main-item.png);
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */